* {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
  padding: 0;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  font-size: 17px;
  overflow-y: scroll;
  perspective: 10px;
  perspective-origin: 50% 30%;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: column;
}

body.home {
  perspective-origin: bottom;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: #222;
  color: #ddd;
  transform: translateZ(0px);
  width: 100%;
  flex-grow: 1;
  flex-shrink: 0;
  box-shadow: 0px 60px 60px -60px black inset;
}

.wrapper > * {
  --layout-spacing: max(9vh, 4rem);
  --max-width: 70ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
  padding: 0 clamp(1rem, 5vw, 3rem);
  padding-top: var(--layout-spacing);
}

header {
  display: grid;
  place-content: center;
  width: 100%;
  height: 30vh;
  user-select: none;
  text-wrap: nowrap;
  padding: 0;
  color: white;
  box-shadow: 0 0 800px rgba(0,0,0,0.5) inset;
  background-image: url("/images/banner.jpg");
  transform-style: preserve-3d;
  flex-shrink: 0;
}

body.home header {
  height: 100vh;
}

header a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 4px 8px;
}

header h1 {
  font-size: 48px;
}

header div.image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  transform: translateZ(-10px) scale(2);
  transform-origin: bottom;
}

header img {
  width: 100%;
  height: 100%;
  filter: brightness(0.7);
  object-fit: cover;
  position: relative;
  z-index: -1;
}

header div.content {
  text-align: center;
  text-shadow: 0 0 5px rgba(0,0,0,0.1), 0 0 90px rgba(0,0,0,0.5);
  z-index: 1;
  font-size: 16px;
}

.buttons {
  margin-top: 24px;
}

.button {
  display: inline-block;
  padding: 16px;
  text-align: center;
  font-size: 17px;
  transition: transform 0.3s;
}

.button .icon {
  border-radius: 100%;
  background: #3d5572;
  width: 100px;
  height: 100px;
  display: grid;
  align-items: center;
  font-size: 40px;
  margin-bottom: 10px;
  box-shadow: 0 0 12px rgba(0,0,0,0.3);
  transition: box-shadow 0.6s;
}

.button:hover {
  transform: translateY(-2px);
}

.button:hover .icon {
  box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

footer {
  margin-top: auto;
  margin-bottom: 1em;
}

footer p {
  border-top: 1px solid #ccc;
  padding-top: 0.25em;
  font-size: 0.9rem;
  color: #bbb;
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

:is(h1, h2, h3) > a {
  text-decoration: none;
  color: unset;
  display: block;
  width: 100%;
}

:is(h1, h2, h3) > a:hover {
  text-decoration: underline;
}

table {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  max-width: fit-content;
  box-shadow: 0px 3px 50px black;
}

article > * + * {
  margin-top: 1em;
}

a {
  color: cyan;
  text-underline-offset: 0.15em;
}

table {
  border-collapse: collapse;
}

:is(td, th) {
  padding: 6px 10px;
  border: 1px solid;
}

thead {
  background: #111;
}

.grid {
  width: 100%;
}

.grid > ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2em;
  padding: 0;
}

.grid > ul > li {
  list-style: none;
  display: block;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0px 0px 80px lightgray;
}

.grid li a {
  display: block;
  line-height: 0;
}

.grid img {
  width: 100%;
  height: min(60vw, 350px);
  object-fit: cover;
  object-position: 50% 50%;
  transition: transform 0.4s;
  position: relative;
}

.grid li a:focus img {
  transform: scale(110%);
}

@media (hover: hover) {
  .grid img:hover {
    transform: scale(110%);
  }
}

@media (prefers-color-scheme: dark) {
}
