* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 0 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #333;
  font-size: 17px;
}

body > * {
  --layout-spacing: max(9vh, 4rem);
  --max-width: 70ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
  padding: 0 clamp(1rem, 5vw, 3rem);
}

header {
  display: grid;
  place-content: center;
  width: 100%;
  background: #eee;
  height: max(9vh, 4rem);
  margin-bottom: var(--layout-spacing);
  user-select: none;
  overflow: hidden;
  text-wrap: nowrap;
  padding: 0;
}

header > h1 {
  font-size: min(7vw, 2em);
}

footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

footer p {
  border-top: 1px solid #ccc;
  padding-top: 0.25em;
  font-size: 0.9rem;
  color: #767676;
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

article * + * {
  margin-top: 1em;
}

a {
  color: navy;
  text-underline-offset: 0.15em;
}

table {
  border-collapse: collapse;
}

:is(td, th) {
  padding: 6px 10px;
  border: 1px solid;
}

thead {
  background: #eee;
}

.grid {
  width: 100%;
}

.grid > ul {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 200px;
  grid-gap: 1em;
  padding: 0;
}

.grid > ul > li {
  list-style: none;
}

.grid li a {
  display: block;
  line-height: 0;
  overflow: hidden;
}

.grid img {
  width: 100%;
  height: min(60vw, 350px);
  object-fit: cover;
  object-position: 50% 50%;
  transition: transform 0.4s;
}

@media (hover: hover) {
  .grid img:hover {
    transform: scale(110%);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: black;
    color: #ddd;
  }
  header, thead {
    background: #111;
  }
  footer p {
    color: #bbb;
  }
  a {
    color: cyan;
  }
}
