<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#202933" />
    <link rel="preload" href="/fonts/icomoon.woff" as="font" crossorigin>
    <link rel="preload" href="/fonts/Roboto-Regular.ttf" as="font" crossorigin>
    <link rel="preload" href="/fonts/ProtestRiot-Regular.ttf" as="font" crossorigin>
    <link rel="preload" as="image" href="/assets/img/qbefrBzqSk-144.jpeg">
    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
  </head>
  <body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
    <header class="banner">
      <div class="image">
        {% largeImage "images/banner.jpg" %}
      </div>
      <div class="content">
        {% block header %}
        <h1>{{ site.title }}</h1>
        {% endblock %}
      </div>
    </header>
    <div class="wrapper">
      <main>
        <article>
          {{ content | safe }}
        </article>
      </main>
      <footer>
        <p>© {{ site.copyright }} {{ page.date.getUTCFullYear() }}</p>
      </footer>
    </div>
  </body>
</html>
