{% extends "default.njk" %}

{% set bodyClass = "home" %}

{% block header %}
<h1>{{ site.title }}</h1>
<p>{{ site.tagline }}</p>
<div class="buttons">
{% for item in navItems %}
<a href="{{ item.href }}" class="button">
  <span class="icon">{{ item.icon | safe }}</span>
  <p>{{ item.name }}</p>
</a>
{% endfor %}
{% endblock %}
