* {
  box-sizing: border-box;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 0 1rem;
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: #222;
}

body > * {
  --layout-spacing: max(8vh, 3rem);
  --max-width: 70ch;
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
  padding: 0 clamp(1rem, 5vw, 3rem);
}

header {
  display: grid;
  place-content: center;
  width: 100%;
  background: #eee;
  height: max(9vh, 4rem);
  margin-bottom: var(--layout-spacing);
  user-select: none;
}

footer {
  margin-top: auto;
  padding-top: var(--layout-spacing);
}

footer p {
  border-top: 1px solid #ccc;
  padding-top: 0.25em;
  font-size: 0.9rem;
  color: #767676;
}

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h2, h3):not(:first-child) {
  margin-top: 2em;
}

article * + * {
  margin-top: 1em;
}

a {
  color: navy;
  text-underline-offset: 0.15em;
}

table {
  border-collapse: collapse;
}

:is(td, th) {
  padding: 6px 10px;
  border: 1px solid;
}

thead {
  background: #eee;
}

