---
date: git Last Modified
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/main.css">
    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
  </head>
  <body>
    <header>
      <h1>{{ site.title }}</h1>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>© {{ site.copyright }} {{ page.date.getUTCFullYear() }}</p>
    </footer>
  </body>
</html>
