---
date: git Last Modified
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <link rel="stylesheet" href="/main.css" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#202933" />
    <script defer src="/app.js"></script>
    <title>{% if title %}{{ title }} - {% endif %}{{ site.title }}</title>
    <meta name="google-site-verification" content="z7wf8Bv8h9H5cJqq_9LNqO3RpcN7HcBmSLDnyQ4m6PY" />
  </head>
  <body>
    <header>
      <h1>{{ site.title }}</h1>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      <p>© {{ site.copyright }} {{ page.date.getUTCFullYear() }}</p>
    </footer>
  </body>
</html>
